html, body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0;
    background: black;
}

.game-canvas {
    margin: 0; padding: 0;
}

.legend {
    width: 100%; height: 100%;
    position: absolute;
    top: 0;
    font-size: 24px;
    letter-spacing: 1px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.legend>.item {
    width: 320px;
    margin-top: 10px; padding: 20px 0;
    display: block;
    text-align: center;
    background: black;
    border-radius: 5px;
}
.legend>.item.start {
    margin-top: 20px;
    font-size: 20px;
    background: none;
    border: none;
}
.legend>.item.start>span {
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 2px;
}

.timeboard {
    position: absolute;
    bottom: 25px; left: 35px;
    font-size: 32px;
    font-weight: 200;
    text-align: right;
    letter-spacing: 4px;
    color: white;
}

.time {
    font-size: 48px;
    font-weight: 500;
}

.scoreboard {
    position: absolute;
    right: 35px; bottom: 25px;
    font-size: 32px;
    font-weight: 200;
    text-align: right;
    letter-spacing: 4px;
    color: white;
}

.score {
    font-size: 48px;
    font-weight: 500;
}
